<!-- <div class="sidebar-single-widget">
    <h6 class="sidebar-title">CATEGORIES</h6>
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li>
                <ul class="sidebar-menu-collapse">
                    <!-- Start Single Menu Collapse List -->
                    <li class="sidebar-menu-collapse-list">
                        <div class="accordion">
                            <a href="#" class="accordion-title collapsed"
                                data-bs-toggle="collapse" data-bs-target="#men-fashion"
                                aria-expanded="false">Men <i
                                    class="ion-ios-arrow-right"></i></a>
                            <div id="men-fashion" class="collapse">
                                <ul class="accordion-category-list">
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Jackets &amp; Coats</a></li>
                                    <li><a href="#">Sweaters</a></li>
                                    <li><a href="#">Jeans</a></li>
                                    <li><a href="#">Blouses &amp; Shirts</a></li>
                                </ul>
                            </div>
                        </div>
                    </li> <!-- End Single Menu Collapse List -->
                </ul>
            </li>
            {% for cat in categories %}
                
            <li><a href="{{ cat.get_absolute_url }}">{{ cat.categorie|safe|capfirst }} </a></li>

            {% endfor %}
        </ul>
    </div>
</div>  -->