{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% url 'shop:main' as boutique  %}


<div class="sidebar-single-widget">
    <h6 class="sidebar-title">CATEGORIE{{categories.count|pluralize}}</h6>
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li>
                <ul class="sidebar-menu-collapse">
                    <!-- Start Single Menu Collapse List -->
                    <li>
                        <a {% if boutique in request.path %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'shop:main' %}">
                            Tous les articles
                        </a>
                    </li>
                    {% recursetree categories %}

                    <li class="sidebar-menu-collapse-list">
                    

                            <div class="accordion">
                                <!-- <a href="/categorie/{{ node.slug }}/"  -->
                                <a href="{% url 'products:categorie' node.id node.slug  %}"
                                    {% if not node.is_leaf_node %}
                                        class="accordion-title collapsed"
                                        data-bs-toggle="collapse"    
                                        data-bs-target="#{{ node.title }}"
                                        aria-expanded="false"
                                    {% endif %} 
                                    >  {{ node.title|capfirst }}

                                    {% if not node.is_leaf_node %}
                                    <i class="ion-ios-arrow-right"></i>
                                    {% endif %} 

                                </a>
                                <div id="{{ node.title }}" class="collapse">
                                    
                                    {% if not node.is_leaf_node %}

                                        <ul class="accordion-category-list">
                                            <li><a {% if node.slug  in request.path  %}
                                                class="active main-menu-link" style="color:#B19361;" 
                                            {% endif %} href="#">{{ children|capfirst }}</a></li>
                                           
                                        </ul>

                                    {% endif %}

                                </div>
                            </div>
                        

                    </li> <!-- End Single Menu Collapse List -->

                    {% endrecursetree %}

                </ul>
            </li>
            
        </ul>
    </div>
</div> 