{% extends "base/base.html" %}
{% block content %}
<!-- <div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h1>Changer votre mot de passe</h1>
        <form method='post' action=''>{% csrf_token %}
           {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Save</button>
        </form>
      </div>
</div> -->




    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login" style="margin-block: 70px;">
      <div class="container" >
          <div class="row">
              <!--login area start-->
              <div class='col-md-4 col-10  mx-auto' style="display: flex; align-items:center; justify-content:center; ">
                  <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                      <h3 style="text-transform: lowercase;">Modifier votre mot de passe</h3>
                      <form action="{% url 'accounts:login' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                          
                          <div class="default-form-box">
                              {{ form.as_p }}
                          </div>
                          <div class="login_submit">
                              <button class="btn btn-md btn-black-default-hover mb-4" type="submit">Modifier</button>
                              
                              <a href="{% url 'account:login' %}">Se connecter</a>
                          </div>
                      </form>
                  </div>
              </div>
              <!--login area start-->

          </div>
      </div>
  </div> <!-- ...:::: End Customer Login Section :::... -->



{% endblock %}
