{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}| Blog{% endblock title %}

{% block content %}


    <!-- ...:::: Start Blog List Section:::... -->
    <div class="blog-section" style="margin-block-start:50px; margin-block-end:70px;">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row-reverse">

                {% include 'include/blog-sidebar.html' %}


                <div class="col-lg-9">
                    <div class="blog-wrapper">
                        <div class="row mb-n6">

                            {% for post in posts  %}
                            <div class="col-12 mb-6">
                                <!-- Start Product Default Single Item -->
                                <div class="blog-list blog-list-single-item blog-color--golden" data-aos="fade-up"
                                    data-aos-delay="0">
                                    <div class="row">
                                        <div class="col-xl-5 col-md-6">
                                            <div class="image-box">
                                                <a href="{{ post.get_absolute_url }}" class="image-link">
                                                    <img class="img-fluid" src="{{ post.cover.url }}" alt="{{ post.title|safe|capfirst }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-md-6">
                                            <div class="content">
                                                <ul class="post-meta">
                                                    <li>PUBLIÉ PAR : <a class="author">Admin</a></li>
                                                    <li> <a class="date">{{ post.created_on|date }}</a></li>
                                                </ul>
                                                <h6 class="title" >
                                                    <a href="{{ post.get_absolute_url }}" style="text-transform: lowercase;"> 
                                                        {{ post.title|safe|capfirst }}
                                                    </a>
                                                </h6>
                                                <p>
                                                    {{ post.description|safe|capfirst|truncatewords:100  }}
                                                </p>
                                                <a href="{{ post.get_absolute_url }}" class="read-more-btn icon-space-left">
                                                    En savoir plus <span class="icon"><i class="ion-ios-arrow-thin-right"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                            </div>
                            {% endfor %}

<!-- 
                            <div class="col-12 mb-6">
                               
                                <div class="blog-list blog-list-single-item blog-color--golden" data-aos="fade-up"
                                    data-aos-delay="200">
                                    <div class="row">
                                        <div class="col-xl-5 col-md-6">
                                            <div class="blog-list-slider-arrow">
                                             
                                                <div class="blog-list-slider swiper-container">
                                                   
                                                    <div class="swiper-wrapper">
                                                     
                                                        <div class="blog-list-slider-img swiper-slide"><img
                                                                class="img-fluid"
                                                                src="assets/images/blog/blog-grid-home-1-img-4.jpg"
                                                                alt=""></div>
                                                        <div class="blog-list-slider-img swiper-slide"><img
                                                                class="img-fluid"
                                                                src="assets/images/blog/blog-grid-home-1-img-2.jpg"
                                                                alt=""></div>
                                                        <div class="blog-list-slider-img swiper-slide"><img
                                                                class="img-fluid"
                                                                src="assets/images/blog/blog-grid-home-1-img-3.jpg"
                                                                alt=""></div>
                                                        <div class="blog-list-slider-img swiper-slide"><img
                                                                class="img-fluid"
                                                                src="assets/images/blog/blog-grid-home-1-img-1.jpg"
                                                                alt=""></div>
                                                        <div class="blog-list-slider-img swiper-slide"><img
                                                                class="img-fluid"
                                                                src="assets/images/blog/blog-grid-home-1-img-5.jpg"
                                                                alt=""></div>
                                                    </div>

                                                   
                                                    <div class="swiper-button-prev"></div>
                                                    <div class="swiper-button-next"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-md-6">
                                            <div class="content">
                                                <ul class="post-meta">
                                                    <li>POSTED BY : <a href="#" class="author">Admin</a></li>
                                                    <li>ON : <a href="#" class="date">APRIL 24, 2018</a></li>
                                                </ul>
                                                <h6 class="title"><a href="blog-single-sidebar-left.html"> Blog Slider
                                                        post</a></h6>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent</p>
                                                <a href="#" class="read-more-btn icon-space-left">Read More <span
                                                        class="icon"><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                             -->

<!-- 
                            <div class="col-12 mb-6">
                                
                                <div class="blog-list blog-list-single-item blog-color--golden" data-aos="fade-up"
                                    data-aos-delay="400">
                                    <div class="row">
                                        <div class="col-xl-5 col-md-6">
                                            <div class="blog-video-box">
                                                <img class="img-fluid"
                                                    src="assets/images/blog/blog-grid-home-1-img-5.jpg" alt="">
                                                <a href="https://youtu.be/MKjhBO2xQzg" class="video-play-btn"
                                                    data-autoplay="true" data-vbtype="video">
                                                    <i class="fa fa-youtube-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-md-6">
                                            <div class="content">
                                                <ul class="post-meta">
                                                    <li>POSTED BY : <a href="#" class="author">Admin</a></li>
                                                    <li>ON : <a href="#" class="date">APRIL 24, 2018</a></li>
                                                </ul>
                                                <h6 class="title"><a href="blog-single-sidebar-left.html"> Blog video
                                                        post</a></h6>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent</p>
                                                <a href="#" class="read-more-btn icon-space-left">Read More <span
                                                        class="icon"><i class="ion-ios-arrow-thin-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> -->

                        </div>
                    </div>

                    {% if is_paginated %}

                        <!-- Start Pagination -->
                        <div class="page-pagination text-center" data-aos="fade-up" data-aos-delay="0">
                            <ul>
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{page_obj.previous_page_number}}">&laquo;</a></li>
                                {% endif %}


                                {% for i in paginator.page_range %}

                                    {% if page_obj.number == i %}
                                        <li><a class="active" >{{ i }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}

                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{page_obj.next_page_number}}">&raquo;</a></li>
                                {% endif %}

                            </ul>
                        </div> <!-- End Pagination -->

                    {% endif %}

                </div>
            </div>
        </div>
    </div> <!-- ...:::: End List Section:::... -->





{% endblock content %}