{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}| Checkout {% endblock title %}
{% url 'account:guest_register_url' as guest_register %}
{% block content %}

{% comment %} {{ object.order_id}} / {{ object.cart }} {% endcomment %}

    {% if not billing_profile %}


    {% include 'snippet/form.html' with form=login_form next_url=request.build_absolute_uri %}



    {% url 'account:guest_register' as guest_register_url  %}

    {% include 'snippet/form.html' with form=guest_form next_url=request.build_absolute_uri  action_url=guest_register_url %}
        
    <!-- <div class="checkout-section" style="margin-block: 70px;">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="user-actions accordion" data-aos="fade-up" data-aos-delay="0">
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_login"
                                aria-expanded="true">Cliquez ici pour vous connecter</a>
                        </h3>
                        <div id="checkout_login" class="collapse" data-parent="#checkout_login">
                            <div class="checkout_info">
                                <p>Si vous n'avez pas encore de compte</p>
                                <form action="#">
                                    <div class="form_group default-form-box">
                                        <label>Username or email <span>*</span></label>
                                        <input type="text">
                                    </div>
                                    <div class="form_group default-form-box">
                                        <label>Password <span>*</span></label>
                                        <input type="password">
                                    </div>
                                    <div class="form_group group_3 default-form-box">
                                        <button class="btn btn-md btn-black-default-hover" type="submit">Login</button>
                                        <label class="checkbox-default">
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                    <a href="#">Lost your password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>
    </div> -->


    {% else %}

        {% if not object.shipping_address %}

        {% url 'address:shipping' as shipping  %}

        {% include 'address/form.html' with form=address_form next_url=request.build_absolute_uri  action_url=shipping address_type='livraison' %}
            
        {% else %}

        <!-- ...:::: Start Checkout Section:::... -->
        <div class="checkout-section" style="margin-block: 70px;">
            <div class="container">


                <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <form action="#">
                                <h3 style="text-transform: lowercase;">Details de facturation</h3>

                                <!-- {{ shipping.as_p }} -->

                                <div class="row">

                                    {% comment %} {{ address_form.as_p }} {% endcomment %}

                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label>{{ address_form.lastname.label }} <span>*</span></label>
                                            {{ address_form.lastname }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label>{{ address_form.firstname.label }} <span>*</span></label>
                                            {{ address_form.firstname }}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label for="country">{{address_form.country.label}} <span>*</span></label>
                                            {{ address_form.country }}
                                            {% comment %} <select class="country_option nice-select wide" name="country" id="country">
                                                <option value="{{address_form.country}}">{{ address_form.country }}</option> {% endcomment %}
                                                {% comment %} <option value="3">Algeria</option>
                                                <option value="4">Afghanistan</option>
                                                <option value="5">Ghana</option>
                                                <option value="6">Albania</option>
                                                <option value="7">Bahrain</option>
                                                <option value="8">Colombia</option>
                                                <option value="9">Dominican Republic</option> {% endcomment %}
                                            {% comment %} </select> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label>{{ address_form.city.label }} <span>*</span></label>
                                            {{ address_form.city }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            {{ address_form.address }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label>{{address_form.street_address.label}} <span>*</span></label>
                                            {{address_form.street_address}}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="default-form-box">
                                            <label>State / County <span>*</span></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label>Phone<span>*</span></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="default-form-box">
                                            <label> {{ address_form.billing.user }} <span>*</span></label>
                                            {{address_form.billing.user}}
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 mt-3">
                                        <div class="order-notes">
                                            <label for="order_note">{{address_form.message.label}} </label>
                                            {{ address_form.message }}
                                        </div>
                                    </div> 

                                </div> 
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <form action="#">
                                <h3 style="text-transform: lowercase;">Votre commande</h3>
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Article</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for item in cart.products.all %}
                                                
                                            <tr>
                                                <td> {{ item.title|safe|capfirst }} <strong> </strong></td>
                                                <td> {{ item.price|floatformat:2|intcomma }} GNF </td>
                                            </tr>

                                            {% endfor %}


                                            
                                        </tbody>
                                        <tfoot>
                                            <!-- <tr>
                                                <th>Cart Subtotal</th>
                                                <td>$215.00</td>
                                            </tr>
                                            <tr>
                                                <th>Shipping</th>
                                                <td><strong>$5.00</strong></td>
                                            </tr> -->
                                            <tr class="order_total">
                                                <th>Total</th>
                                                <td><strong>{{ cart.total|floatformat:2|intcomma}} GNF </strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment_method">
                                    <div class="panel-default">
                                        <label class="checkbox-default" for="currencyCod" data-bs-toggle="collapse"
                                            data-bs-target="#methodCod">
                                            <input type="checkbox" id="currencyCod">
                                            <span>Cash on Delivery</span>
                                        </label>

                                        <div id="methodCod" class="collapse" data-parent="#methodCod">
                                            <div class="card-body1">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State
                                                    / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-default">
                                        <label class="checkbox-default" for="currencyPaypal" data-bs-toggle="collapse"
                                            data-bs-target="#methodPaypal">
                                            <input type="checkbox" id="currencyPaypal">
                                            <span>PayPal</span>
                                        </label>
                                        <div id="methodPaypal" class="collapse " data-parent="#methodPaypal">
                                            <div class="card-body1">
                                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a
                                                    PayPal account.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order_button pt-3">
                                        <button class="btn btn-md btn-black-default-hover" type="submit">Proceed to
                                            PayPal</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        {% endif %}


    {% endif %}

{% endblock content %}